{% extends 'base/base.html' %}
{% block content %}
    <h1 style="text-align:center">Clasicos del Cine- Reseñas de Peliculas</h1>

<div class="m-4">
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <form method="GET" action="" >
                <div class="form">
                  <i class="fa fa-search"></i>
                  <input type="text" name="q" class="form-control form-input" placeholder="Search Reseña...">
                  <span class="left-pan"><i class="fa fa-microphone"></i></span>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for item in peliculas %}
        <div class="col">
           <div class="m-4">
              <div class="card" style="max-width: 500px;">
            <div class="row g-0">
                {% if item.imagen %}
                <div class="col-sm-5" style="background: #868e96;">
                    <img src={{item.imagen}} class="card-img-top h-100" alt="...">
                </div>
                {% else %}
                <div class="col-sm-5" style="background: #868e96;">
                    <img src="https://k12.kn3.net/E2C028178.jpg" class="card-img-top h-100" alt="...">
                </div>
                {% endif %}
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">{{item.reseña}}</h5>
                    <p class="card-text" style="text-align:justify">{{item.descripcion}}</p>
                    <a href="{% url 'detalles' item.id %}" class="btn btn-primary stretched-link">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    {% endfor %}
</div>
</div>
{% endblock %}